<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <p>
        <input matInput placeholder="Coloca tu nombre" formControlName="name">
    </p>
            
    
    <p>
        <input matInput placeholder="Coloca tu Esculea" formControlName="patronus">
    </p>
    <p>
        
        <input matInput placeholder="Coloca tu Edad" formControlName="age">
    </p>
    <p>
        <input matInput placeholder="Url de tu Foto" formControlName="image">
    </p>
    <button type="submit" [disabled]="form.invalid">Enviar</button>
</form>